ADMIN_PASSWORD=change-me
SOURCE_BASE_URL=https://files.astropolis.be/public/allsky/videos
OUTPUT_DIR=/var/www/files/public/allsky/videos/custom
PUBLIC_CLIP_BASE=https://files.astropolis.be/public/allsky/videos/custom
CORS_ORIGIN=https://allsky.astropolis.be
